RaspberryPi/NodeRed/Home/NodeRed-Home - Painel Solar.json
[{"id":"563ea86f.217088","type":"tab","label":"Painel Solar","disabled":false,"info":""},{"id":"9f0d4b95.b39bb8","type":"ui_chart","z":"563ea86f.217088","name":"","group":"e963617d.e36ec","order":2,"width":10,"height":4,"label":"Painel solar: tensão gerada","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"12","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":900,"y":100,"wires":[[]]},{"id":"52e41e37.a31cf","type":"mqtt in","z":"563ea86f.217088","name":"IoT Core Painel Solar","topic":"$aws/things/lange-IoT-SensorPainelSolar/shadow/update/documents","qos":"0","datatype":"auto","broker":"b90e1ab.b432fe8","x":120,"y":100,"wires":[["ac93cdaa.fbad5"]]},{"id":"ac93cdaa.fbad5","type":"json","z":"563ea86f.217088","name":"","property":"payload","action":"","pretty":false,"x":290,"y":100,"wires":[["d928142d.2c2c48"]]},{"id":"d928142d.2c2c48","type":"function","z":"563ea86f.217088","name":"","func":"var dados = msg.payload;\nvar dadosState = dados['state'];\nvar dadosReported = dadosState['reported'];\n//var tensao = dadosReported['tensao'];\n\nmsg.payload = dadosReported;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":100,"wires":[["ebec6af7.cf2b08","d1509004.f31e9","5fd94ea0.8be36"]]},{"id":"ebec6af7.cf2b08","type":"function","z":"563ea86f.217088","name":"Tensao","func":"var dados = msg.payload;\nvar tensao = dados['tensao'];\nmsg.payload = tensao;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":100,"wires":[["9f0d4b95.b39bb8"]]},{"id":"ab50672e.7bd0b8","type":"ui_chart","z":"563ea86f.217088","name":"","group":"e963617d.e36ec","order":2,"width":10,"height":4,"label":"Painel solar: temperatura","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":160,"wires":[[]]},{"id":"d1509004.f31e9","type":"function","z":"563ea86f.217088","name":"Temperatura","func":"var dados = msg.payload;\nvar temperatura = dados['temperatura'];\nmsg.payload = temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[["ab50672e.7bd0b8"]]},{"id":"577433c9.a5243c","type":"ui_chart","z":"563ea86f.217088","name":"","group":"e963617d.e36ec","order":2,"width":10,"height":4,"label":"Painel solar: umidade solo","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"700","ymax":"2600","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":900,"y":220,"wires":[[]]},{"id":"5fd94ea0.8be36","type":"function","z":"563ea86f.217088","name":"umidade solo","func":"var dados = msg.payload;\nvar umidadeSolo = dados['umidadeSolo'];\nmsg.payload = umidadeSolo;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":220,"wires":[["577433c9.a5243c"]]},{"id":"e963617d.e36ec","type":"ui_group","name":"Painel Solar","tab":"7092f1c5.d949c","order":1,"disp":true,"width":"10","collapse":false},{"id":"b90e1ab.b432fe8","type":"mqtt-broker","name":"AWS IoT Core","broker":"ayskvuv5aj6jn-ats.iot.eu-central-1.amazonaws.com","port":"8883","tls":"6227a848.b52f98","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7092f1c5.d949c","type":"ui_tab","name":"Painel Solar","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6227a848.b52f98","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"f8b37f3adbf4e79cd1b8f9ac43aa05978c8c79abd3048e14ca7add8d49e168ff-certificate.pem.crt","keyname":"f8b37f3adbf4e79cd1b8f9ac43aa05978c8c79abd3048e14ca7add8d49e168ff-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":false}]