RaspberryPi/NodeRed/Home/NodeRed-Home - corrente e temperatura.json
[{"id":"4220cc8e.a3d024","type":"tab","label":"Home","disabled":false,"info":""},{"id":"b16d13a7.eec45","type":"mqtt in","z":"4220cc8e.a3d024","name":"io.adafruit Lange-Home temperatura","topic":"rodrigolange78/feeds/langehome-temperatura","qos":"2","datatype":"auto","broker":"33c8a8a.bfe2358","x":200,"y":80,"wires":[["4d8bcc0d.4d7264","93414f0d.b51e7","755b1f6.504a5e","b2c562e2.8ab4d8"]]},{"id":"a3aa048f.1d69c8","type":"mqtt in","z":"4220cc8e.a3d024","name":"io.adafruit Lange-Home corrente","topic":"rodrigolange78/feeds/dglange-emonlib3","qos":"2","datatype":"auto","broker":"33c8a8a.bfe2358","x":190,"y":260,"wires":[["958ee072.3e908"]]},{"id":"de82291e.fe14c8","type":"ui_text","z":"4220cc8e.a3d024","group":"88bf5d5.bcc45a","order":6,"width":6,"height":2,"name":"Corrente Text","label":"Corrente","format":"{{msg.payload}}","layout":"col-center","x":700,"y":300,"wires":[]},{"id":"4d8bcc0d.4d7264","type":"ui_gauge","z":"4220cc8e.a3d024","name":"Lange-home Temp gauge","group":"88bf5d5.bcc45a","order":2,"width":6,"height":6,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":120,"wires":[]},{"id":"93414f0d.b51e7","type":"ui_chart","z":"4220cc8e.a3d024","name":"","group":"88bf5d5.bcc45a","order":24,"width":17,"height":4,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":160,"wires":[[]]},{"id":"1d668fe8.9ce88","type":"ui_chart","z":"4220cc8e.a3d024","name":"Corrente 24h","group":"88bf5d5.bcc45a","order":21,"width":17,"height":4,"label":"Corrente","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":340,"wires":[[]]},{"id":"755b1f6.504a5e","type":"change","z":"4220cc8e.a3d024","name":"","rules":[{"t":"set","p":"HomeTemperatura","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":80,"wires":[[]]},{"id":"1dcc574a.639bd9","type":"change","z":"4220cc8e.a3d024","name":"","rules":[{"t":"set","p":"HomeCorrente","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":260,"wires":[[]]},{"id":"958ee072.3e908","type":"delay","z":"4220cc8e.a3d024","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":440,"y":260,"wires":[["de82291e.fe14c8","1d668fe8.9ce88","1dcc574a.639bd9","19c877c2.0ef498","2269f5c4.ccb22a"]]},{"id":"b2c562e2.8ab4d8","type":"debug","z":"4220cc8e.a3d024","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":200,"wires":[]},{"id":"19c877c2.0ef498","type":"ui_chart","z":"4220cc8e.a3d024","name":"Corrente 10 min","group":"88bf5d5.bcc45a","order":22,"width":17,"height":4,"label":"Corrente 10 min","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":380,"wires":[[]]},{"id":"2269f5c4.ccb22a","type":"ring-buffer","z":"4220cc8e.a3d024","name":"","capacity":"12","order":"old-to-new","sendOnlyIfFull":false,"pushAfterClear":false,"extra":false,"perTopic":false,"x":680,"y":420,"wires":[["96991099.5753"]]},{"id":"96991099.5753","type":"debug","z":"4220cc8e.a3d024","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":420,"wires":[]},{"id":"d85b9803c4fe9141","type":"image","z":"4220cc8e.a3d024","name":"","width":"250","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":700,"y":160,"wires":[]},{"id":"33c8a8a.bfe2358","type":"mqtt-broker","name":"","broker":"io.adafruit.com","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88bf5d5.bcc45a","type":"ui_group","name":"Lange's Home","tab":"6cca2a2f.2d2e94","order":1,"disp":false,"width":"17","collapse":false},{"id":"6cca2a2f.2d2e94","type":"ui_tab","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false}]